/* Random.css */
.container {
  background-color: #f2e7fe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  font-family: 'Arial', sans-serif;
}

.name {
  color: #6a1b9a;
  font-weight: bold;
}

.topic {
  background-color: #ffeb3b;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.topicTitle {
  color: #4a148c;
}
